.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node {
  font: 10px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
}
text.skill {
  font-size: 18pt;
}

.skill {
  left: 50px;
  background: #0040D0;
  width:150px;
  height:50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.circle {
  background: #006600;
  width:50px;
  height:50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

text.skill.active {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
